<h1 class="mt-4">Serviços</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastro</li>
</ol>
<div class="container">
  <form #servicoForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success === true">
          Serviço salvo com sucesso.
        </div>
        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
          {{ erro }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
            <label>Cliente:</label>
            <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="servico.idCliente">
              <option value="">Selecione o cliente</option>
              <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">
                {{ cliente.nome }}
              </option>
            </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
            <label>Descrição:</label>
            <input name="descricao" type="text" class="form-control" [(ngModel)]="servico.descricao"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
            <label>Data:</label>
            <input name="data" type="text" class="form-control" [(ngModel)]="servico.data"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
            <label>Preço:</label>
            <input name="valor" #valor="ngModel" type="text" class="form-control" [(ngModel)]="servico.valor" numerico minimoValidator valorMinimo="50"/>
        </div>
        <div *ngIf="valor.errors && (valor.dirty || valor.touched)" class="alert alert-danger">
          <div [hidden]="!valor.errors['minimo']">Valor precisa ser maior que 50</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <button type="submit" class="btn btn-success" *ngIf="true">
          <i class="fa fa-save"></i> Salvar
        </button>
        <button type="button" class="btn btn-danger" style="margin-left: 8px;" routerLink="/servico-prestado/listagem">
          <i class="fa fa-arrow-alt-circle-left"></i> Voltar
        </button>
      </div>
    </div>
  </form>

</div>
